*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: white;
  font-size: 18px;
  line-height: 1.8;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// .equation {
//   width: 250px;
//   // display: inline-block
// }
// #axe {
//   width: 100vw;
// }

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sign {
  margin: 5px;
  font-size: 45px;
  display: inline;
}

#input-container {
  position: relative;
  top: 70px;
  width: 875px;
  height: 35px;
}

input {
  font-size: 20px;
  padding-left: 4px;
  border-radius: 8px;
  &.sign {
    height: 53px;
    width: 70px;
  }
  &.value-input {
    position: absolute;
    top: 0;
    height: 35px;
    width: 25px;
  }
}
